<app-operativa-header tituloPantalla="{{'MO' | translate}} "></app-operativa-header>
<form [formGroup]="datosForm">
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.DG' | translate}}
        </h5>

        <div class="inpu">
            <label for="nomArch1" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.NA' | translate}}: </label>
            <input type="text" class="form-control" id="nomArch1" name="nomArch" formControlName="nomArch">
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="fechaCaptura1" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.PR' | translate}}: </label>
                <input type="text" class="form-control" id="fechaCaptura1" name="fechaCaptura" formControlName="fechaCaptura">
            </div>
            <div class="dos">
                <label for="numTarjeta1" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'numTarjeta' | translate}}: </label>
                <input type="text" class="form-control" id="numTarjeta1" name="numTarjeta" formControlName="numTarjeta">
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="ctaCargo1" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.C' | translate}}: </label>
                <input type="text" class="form-control" id="ctaCargo1" name="ctaCargo" formControlName="ctaCargo" >
            </div>
            <div class="dos">
                <label for="numTarjetaAct1" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.NTA' | translate}}: </label>
                <input type="text" class="form-control" id="numTarjetaAct1" name="numTarjetaAct" formControlName="numTarjetaAct">
            </div>
        </div>
        <div class="inpu">
            <label for="estatus1" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.E' | translate}}: </label>
            <input type="text" class="form-control" id="estatus1" name="estatus" formControlName="estatus">
        </div>

    </div>
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.CO' | translate}}:
        </h5>
        <div class="inpu">
                <label for="mensajeT1"></label>
                <input type="text" class="form-control" id="mensajeT1" name="mensaje" formControlName="mensaje">
        </div>
    </div>
    <div class="card" *ngIf="rechazo === true">
        <h5 class="card-header justify-content-center">
            {{'R' | translate}}:
        </h5>
        <div class="inpu">
            <label for="razonRechazo9" class="col-form-label col-xs-4 col-sm-4 col-md-2">{{'R.R' | translate}}: </label>
            <input type="text" class="form-control" id="razonRechazo9" name="razonRechazo" formControlName="razonRechazo" maxlength="200">
        </div>

        <div class="row mt-2">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
                <button type="button" class="btn btn-danger" (click)="procesarT()">{{'btn.aceptar' | translate}}</button>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
                <button type="button" class="btn btn-danger" (click)="cancel9()">{{'btn.cancelar' | translate}}</button>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="regresarT()">{{'MO.Regr' | translate}}</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
            <button type="button" class="btn btn-danger" (click)="procesarT()">{{'MO.Proc' | translate}}</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="refrescarT()">{{'MO.Refr' | translate}}</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
            <button type="button" class="btn btn-danger" (click)="rechazarT()">{{'MO.Rech' | translate}}</button>
        </div>
    </div>
</form>
