<div class="modal-button"></div>
<div id="popup_container">
        <div class="titles">
                <div class="txt-center">
                </div>
                <div class="titles-sub">
                        <div class="txt-start">
                                <label class="title-bold" [ngStyle]="{ 'color': color }" for="">{{'seleccionar' | translate}}</label>
                        </div>
                        <div class="txt-end" >
                                <label class="title-bold" [ngStyle]="{ 'color': color }" for="">MONOPO900</label>
                        </div>  
                </div>
        </div>
        <div class="content-padding" id="popup_content">
                <div id="img" class="txt-center"> <img src="{{img}}" alt=""></div>
                <div>
                        <div  class="txt-wordbreak">
                                <label class="title-bold" for="">{{'seleccionarPaginas' | translate}}</label>
                        </div>
                    <form [formGroup]="comprobanteForm">
                        <mat-radio-group formControlName="radio" class="radio">
                            <mat-radio-button  value="1">{{'pagina' | translate}}</mat-radio-button>
                            <mat-radio-button value="2">{{'todos'|translate}}</mat-radio-button>
                        </mat-radio-group>
                    </form>
                </div>
        </div>
        <mat-dialog-actions class="center">
                <div class="col text-center">
                    <button type="button" class="btn btn-outline-danger justify-content-center" mat-dialog-close (click)="enviar()">{{'ok'|translate}}</button>
                    <button type="button" class="btn btn-outline-danger" mat-dialog-close>{{'cancelar'|translate}}</button>
                </div>
        </mat-dialog-actions>
</div>
<div class="modal-button"></div>
