<app-operativa-header tituloPantalla="{{'pantalla.gestionBackend.titulo.consultar' | translate}}"></app-operativa-header>
<div id="gestionsbackends" class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <!-- --- Seccion de Busqueda --- -->
    <form [formGroup]="gestionBackenForm" autocomplete="off">
        <div class="card mt-3">
            <h5 class="card-header justify-content-center"> {{'pantalla.moduloAdministracion.gestionBackend.busqueda' |
                translate}} </h5>
            <div class="card-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-1 col-lg-2 offset-1">
                            <label for="inputNombreBuzon" class="col-form-label">
                                {{'pantalla.moduloAdministracion.gestionBackend.nombre' | translate}} </label>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 display">
                            <input type="text" class="form-control display removeTextTransform" id="inputNombreBuzon" formControlName="nameSearch" sise="55" (blur)="cleanNombreBackend($event)"
                                (keyup)="cleanNombreBackend($event)">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-1 display">
                            <button type="button" class="btn btn-danger" (click)="onClickClean()">{{'btn.limpiar' |
                                translate}}</button>
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-8 display">
                            <button type="button" class="btn btn-danger" (click)="eventoConsultar()">{{'btn.buscar' |
                                translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- --- Seccion de Resultado --- -->
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="table table-striped table-hover" aria-describedby="listaConsultaPais">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-center">
                                        {{'pantalla.moduloAdministracion.gestionBackend.nombre' | translate}}</th>
                                    <th scope="col" class="text-center">
                                        {{'pantalla.moduloAdministracion.gestionBackend.protocolo' | translate}}</th>
                                    <th scope="col" class="text-center">
                                        {{'pantalla.moduloAdministracion.gestionBackend.direccion' | translate}}</th>
                                    <th scope="col" class="text-center">
                                        {{'pantalla.moduloAdministracion.gestionBackend.activo' | translate}}</th>
                                    <th scope="col" class="text-center">
                                        {{'pantalla.moduloAdministracion.gestionBackend.modificar' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="banderaHasRows; then templateFillTable; else templateEmptyTableBack">
                                </ng-container>
                                <ng-template #templateFillTable>
                                    <tr *ngFor="let dato of tabla">
                                        <td class="text-center">{{dato.nombre}}</td>
                                        <td class="text-center">
                                            <label for="protocolo"></label>
                                            <select class="form-control" id="protocolo" class="wi80" disabled>
                                                <option *ngFor="let dat of listaProtocolo" [value]="dato.idProtocol" [selected]="dat.idPtcl === dato.idProtocol">{{dato.nombreProtocolo}}</option>
                                            </select>
                                        </td>
                                        <td class="text-center">{{dato.dirIp}}</td>
                                        <td class="text-center">
                                            <label for="dirIp"></label>
                                            <input type="checkbox" name="" id="dirIp" [checked]="dato.bandActivo === 1 ? true : false" disabled />
                                        </td>
                                        <td class="text-center"><button type="button" class="btn btn-outline-danger"
                                                (click)="goBackend(dato)">{{'pantalla.moduloAdministracion.gestionBackend.modificar'
                                                | translate}}</button></td>

                                    </tr>
                                </ng-template>
                                <ng-template #templateEmptyTableBack>
                                    <tr>
                                        <td class="text-center" colspan="12"> {{'noResult' | translate}}</td>
                                    </tr>
                                </ng-template>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1">
                        <div class="d-flex justify-content-center" *ngIf="banderaHasRows">
                            <pagination [maxSize]="rowsPorPagina" [boundaryLinks]="showBoundaryLinks4"
                                [directionLinks]="showDirectionLinks4" [totalItems]="totalElements"
                                [itemsPerPage]="rowsPorPagina" previousText="&lsaquo;" nextText="&rsaquo;"
                                firstText="{{'paginador.inicio' | translate}}" lastText="{{'paginador.fin' | translate}}" (pageChanged)="onPageChanged($event)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row mt-2">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-10 offset-sm-10 offset-md-10 offset-lg-10 mt-3">
            <button type="button" class="btn btn-danger" (click)="addNew()">{{'btn.agregarBack' | translate}}</button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-10 offset-sm-10 offset-md-10 offset-lg-10">
            <button type="button" class="btn btn-danger" [disabled]="!banderaBtnExportar" (click)="onClickExportar()">{{'btn.exportar' | translate}}</button>
        </div>
    </div>




</div>