<app-operativa-header tituloPantalla=" {{'MO' | translate}}"></app-operativa-header>
<form [formGroup]="datosForm" id="OP">
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.DOP' | translate}}:
        </h5>
        <div class="inpu">
            <label for="nombreBenefOP2" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'nomBeneficiario' | translate}}: </label>
            <input type="text" class="form-control" id="nombreBenefOP2" name="nombreBenef" formControlName="nombreBenef">
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="ctaCargoOP2" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.NC' | translate}}: </label>
                <input type="text" class="form-control" id="ctaCargoOP2" name="ctaCargo" formControlName="ctaCargo">
            </div>
            <div class="dos">
                <label for="fechaAplicOP2" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.FA' | translate}}: </label>
                <input type="text" class="form-control" id="fechaAplicOP2" name="fechaAplic" formControlName="fechaAplic" >
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="fechaLimitPagoOP2" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.FLP' | translate}}: </label>
                <input type="text" class="form-control" id="fechaLimitPagoOP2" name="fechaLimitPago" formControlName="fechaLimitPago">
            </div>
            <div class="dos">
                <label for="fechaCapturaOP2" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.PR' | translate}}: </label>
                <input type="text" class="form-control" id="fechaCapturaOP2" name="fechaCaptura" formControlName="fechaCaptura">
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="numSucursalOP2" class="col-form-label col-xs-2 col-sm-2 col-md-2"> {{'MO.NS' | translate}}: </label>
                <input type="text" class="form-control" id="numSucursalOP2" name="numSucursal" formControlName="numSucursal">
            </div>
            <div class="dos">
                <label for="estatusOP2" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.E' | translate}}: </label>
                <input type="text" class="form-control" id="estatusOP2" name="estatus" formControlName="estatus" >
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="tipoPago2" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'menu.monitoreo.comprobantesFormatoCDMX.tipo' | translate}}: </label>
                <input type="text" class="form-control" id="tipoPago2" name="tipoPago" formControlName="tipoPago" >
            </div>
            <div class="dos">
                <label for="referenciaOP2" class="col-form-label col-xs-2 col-sm-2 col-md-2"> {{'MO.R' | translate}}: </label>
                <input type="text" class="form-control" id="referenciaOP2" name="referencia" formControlName="referencia" >
            </div>
        </div>
        <div class="inpu">
            <label for="importe2" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.I' | translate}}: </label>
            <input type="text" class="form-control" id="importe2" name="importe" formControlName="importe">
        </div>
        <div class="inpu">
            <label for="numOrden2" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'numOrden' | translate}}: </label>
            <input type="text" class="form-control" id="numOrden2" name="numOrden" formControlName="numOrden" >
        </div>
        <div class="inpu">
            <label for="modalidad2" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.M' | translate}}: </label>
            <input type="text" class="form-control" id="modalidad2" name="modalidad" formControlName="modalidad" >
        </div>
        <div class="inpu">
            <label for="referenciaAbono2" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.RC' | translate}}: </label>
            <input type="text" class="form-control" id="referenciaAbono2" name="referenciaAbono" formControlName="referenciaAbono" >
        </div>
        <div class="inpu">
            <label for="referenciaCargo2" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.PA' | translate}}: </label>
            <input type="text" class="form-control" id="referenciaCargo2" name="referenciaCargo" formControlName="referenciaCargo">
        </div>
    </div>


    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.COP' | translate}}:
        </h5>
        <div class="inpu">
                <label for="mensajeOP2" class="col-form-label col-xs-2 col-sm-2 col-md-1"></label>
                <input type="text" class="form-control" id="mensajeOP2" name="mensaje" formControlName="mensaje">
        </div>
    </div>
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.CO' | translate}}:
        </h5>
        <div class="inpu">
            <label for="mensajeOrdenOP2"></label>
            <input type="text" class="form-control" id="mensajeOrdenOP2" name="mensajeOrden" formControlName="mensajeOrden" >
        </div>
    </div>

    <div class="card" *ngIf="rechazo === true">
        <h5 class="card-header justify-content-center">
            {{'R' | translate}}:
        </h5>
        <div class="inpu">
            <label for="razonRechazo4" class="col-form-label col-xs-4 col-sm-4 col-md-2">{{'R.R' | translate}}: </label>
            <input type="text" class="form-control" id="razonRechazo4" name="razonRechazo" formControlName="razonRechazo" maxlength="200">
        </div>

        <div class="row mt-2">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
                <button type="button" class="btn btn-danger" (click)="procesarOP()">{{'btn.aceptar' | translate}}</button>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
                <button type="button" class="btn btn-danger" (click)="cancel4()">{{'btn.cancelar' | translate}}</button>
            </div>
            <br><br>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="regresarOP()">{{'MO.Regr' | translate}}</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
            <button type="button" class="btn btn-danger" (click)="procesarOP()">{{'MO.Proc' | translate}}</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="refrescarOP()">{{'MO.Refr' | translate}}</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
            <button type="button" class="btn btn-danger" (click)="rechazarOP()">{{'MO.Rech' | translate}}</button>
        </div>
    </div>
</form>