<app-operativa-header tituloPantalla="{{'pantalla.recargaSFG.title' | translate}}"></app-operativa-header>
<div id="recargaConsultaSFG" class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'pantalla.recargaSFG.listadoCatalgoSfg.title' | translate}}
        </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-striped table-hover" aria-describedby="listaRecargaSFG">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">{{'pantalla.recargaSFG.tabla.columna.valor' | translate}}</th>
                                <th class="text-center" scope="col">{{'pantalla.recargaSFG.tabla.columna.descripcion' | translate}}</th>
                                <th class="text-center" scope="col">{{'pantalla.recargaSFG.tabla.columna.accion' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="banderaHasRows; then templateFillTable; else templateEmptyTable">
                            </ng-container>
                            <ng-template #templateFillTable>
                                <tr *ngFor="let consultaSFG of listRecargaSFG">
                                    <td class="text-center">{{consultaSFG.valor}}</td>
                                    <td class="text-center">{{consultaSFG.descripcion}}</td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-danger" (click)="reloadCatSFG(consultaSFG.valor)">{{'btn.modificar' | translate}}</button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #templateEmptyTable>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

