<app-operativa-header tituloPantalla=" {{'MO' | translate}}"></app-operativa-header>
<form [formGroup]="datosForm" id="OP">
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.DOP' | translate}}:
        </h5>
        <div class="inpu">
            <label for="nombreBenefOP" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'nomBeneficiario' | translate}}: </label>
            <input type="text" class="form-control" id="nombreBenefOP" name="nombreBenef" formControlName="nombreBenef">
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="ctaCargoOP" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.NC' | translate}}: </label>
                <input type="text" class="form-control" id="ctaCargoOP" name="ctaCargo" formControlName="ctaCargo">
            </div>
            <div class="dos">
                <label for="fechaAplicOP" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.FA' | translate}}: </label>
                <input type="text" class="form-control" id="fechaAplicOP" name="fechaAplic" formControlName="fechaAplic" >
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="fechaLimitPagoOP" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.FLP' | translate}}: </label>
                <input type="text" class="form-control" id="fechaLimitPagoOP" name="fechaLimitPago" formControlName="fechaLimitPago">
            </div>
            <div class="dos">
                <label for="fechaCapturaOP" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.PR' | translate}}: </label>
                <input type="text" class="form-control" id="fechaCapturaOP" name="fechaCaptura" formControlName="fechaCaptura">
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="numSucursalOP" class="col-form-label col-xs-2 col-sm-2 col-md-2"> {{'MO.NS' | translate}}: </label>
                <input type="text" class="form-control" id="numSucursalOP" name="numSucursal" formControlName="numSucursal">
            </div>
            <div class="dos">
                <label for="estatusOP" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.E' | translate}}: </label>
                <input type="text" class="form-control" id="estatusOP" name="estatus" formControlName="estatus" >
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="tipoPago" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'menu.monitoreo.comprobantesFormatoCDMX.tipo' | translate}}: </label>
                <input type="text" class="form-control" id="tipoPago" name="tipoPago" formControlName="tipoPago" >
            </div>
            <div class="dos">
                <label for="referenciaOP" class="col-form-label col-xs-2 col-sm-2 col-md-2"> {{'MO.R' | translate}}: </label>
                <input type="text" class="form-control" id="referenciaOP" name="referencia" formControlName="referencia" >
            </div>
        </div>
        <div class="inpu">
            <label for="importe" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.I' | translate}}: </label>
            <input type="text" class="form-control" id="importe" name="importe" formControlName="importe">
        </div>
        <div class="inpu">
            <label for="numOrden" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'numOrden' | translate}}: </label>
            <input type="text" class="form-control" id="numOrden" name="numOrden" formControlName="numOrden" >
        </div>
        <div class="inpu">
            <label for="modalidad" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.M' | translate}}: </label>
            <input type="text" class="form-control" id="modalidad" name="modalidad" formControlName="modalidad" >
        </div>
        <div class="inpu">
            <label for="referenciaAbono" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.RC' | translate}}: </label>
            <input type="text" class="form-control" id="referenciaAbono" name="referenciaAbono" formControlName="referenciaAbono" >
        </div>
        <div class="inpu">
            <label for="referenciaCargo" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.PA' | translate}}: </label>
            <input type="text" class="form-control" id="referenciaCargo" name="referenciaCargo" formControlName="referenciaCargo">
        </div>
    </div>


    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.COP' | translate}}
        </h5>
        <div class="inpu">
                <label for="mensajeOP" class="col-form-label col-xs-2 col-sm-2 col-md-1"></label>
                <input type="text" class="form-control" id="mensajeOP" name="mensaje" formControlName="mensaje">
        </div>
    </div>
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.CO' | translate}}
        </h5>
        <div class="inpu">
            <label for="mensajeOrdenOP"></label>
            <input type="text" class="form-control" id="mensajeOrdenOP" name="mensajeOrden" formControlName="mensajeOrden" >
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="regresarOP()">{{'MO.Regr' | translate}}</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
            <button type="button" class="btn btn-danger" (click)="historialOP()">{{'MO.H' | translate}}</button>
        </div>
    </div>
    <div class="row mt-2" *ngIf="idEstatus === '7'">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="reintentarOP()">{{'MO.Rei' | translate}}</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
            <button type="button" class="btn btn-danger" (click)="rechazarOP()">{{'MO.Rech' | translate}}</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="refrescarOP()">{{'MO.Refr' | translate}}</button>
        </div>
    </div>
    <div class="row mt-2" *ngIf="idEstatus === '13'">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="procesarOP()">{{'MO.Proc' | translate}}</button>
        </div>
    </div>
</form>