a{
    text-decoration: none !important;
    color: blue !important;
}

.removeTextUpper{
    text-transform: none;
}

.col-xs-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 1em;
    column-gap: 5em;
    align-items: end;
}

.padding-margin{
    padding-top: 0px;
    margin-top: 0px;
}

.justify-center{-ms-flex-pack:center!important;justify-content:center!important; display: grid;}

.txt-end{
    justify-content: flex-end;
    display: flex;
    gap: 2em;
}

.justify-right{
    justify-content: right;
    display: flex;
}

.estilo{
    cursor: pointer; color: blue;
}

.row-gap{
    gap: 1em;
}

.margin-buttons-right{
    margin: 1em 2em 1em 1em;
}
.margin-buttons-left{
    margin: 1em 1em 1em 2em;
}

.col-xs-2-label{
    display: grid;
    grid-template-columns: 42% 68%;
    margin: 1em 0em 1em 0em;
    text-align: end;
    align-items: center;
    gap: 1em;
    width: 68%
}

.col-xs-2-label-date{
    display: grid;
    grid-template-columns: 30% 62% 8%;
    margin: 2em 0em 1em 0em;
    align-items: center;
    width: 100%;

}

.label-txt-align{
    text-align: end;
}

.max-width{
    max-width: 66.666667%;
}
.namearch{
    position: relative;
    left: -18px;
}

.buttons-flex{
    justify-content: flex-end;
    display: grid;
    gap: 75%;
    grid-template-columns: 1fr 1fr;
 }

 .buttons-right{
    display: grid;
    justify-content: flex-end;
    gap: 1em;
    height: min-content;
 }

 .buttons-left{
    display: grid;
    justify-content: flex-start;
    gap: 1em;
    height: min-content;
 }

 .margins-top{
    margin-top:2em;
 }