<div class="modal-button"></div>
<div id="popup_container">
    <div class="titles">
        <div class="txt-center">
        </div>
        <div class="titles-sub">
            <div class="txt-start">
                <label class="title-bold" [ngStyle]="{ 'color': color }" for="">{{typeTitle}}</label>
            </div>
        </div>
    </div>
    <div class="content-padding" id="popup_content">
        <div id="img" class="txt-center"> <img src="{{img}}" alt=""></div>
        <div>
            <div class="txt-wordbreak">
                <label class="title-bold" for="">{{data.titulo}}</label>
            </div>
            <div id="popup_message">
                <div id="tipoMsg"></div>
                <mat-dialog-content>
                    <br>
                    <div class="txt-wordbreak">
                        <label for="">{{data.contenido}}</label>
                    </div>
                    <div class="txt-wordbreak">
                        <label for="mtvoRechazo"></label>
                        <input class="form-control" id="mtvoRechazo" name="mtvoRechazo" type="text"
                            [(ngModel)]="mtvoRechazo">
                    </div>
                </mat-dialog-content>
            </div>
        </div>
    </div>
    <mat-dialog-actions class="center">
        <div class="col text-center display-buttons">
            <div class="txt-end">
                <button type="button" class="btn btn-outline-danger justify-content-center buttons-okcancel"
                    mat-dialog-close (click)="accept()">OK</button>
            </div>
            <div class="txt-start">
                <button type="button" class="btn btn-outline-danger buttons-okcancel" mat-dialog-close>{{'btn.cancelar'
                    | translate}}</button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
<div class="modal-button"></div>