.rowTP{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    flex-direction: row;
    justify-content: flex-end;
}

.estilo{
    width: 100%;
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.estilo2{
    margin-right: 4px;
}
.estilo3{
    margin-left: 4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
