<app-operativa-header tituloPantalla="{{'pantalla.moduloAdministracion.consultarPais.title' | translate}}"></app-operativa-header>
<div id="consultaPais" class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'pantalla.moduloAdministracion.consultarPais.title' | translate}}
        </h5>
        <div class="card-body">
            <form [formGroup]="gestionPaisesForm">
                <div class="row justify-content-center">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group row">
                            <label for="codigoTransfer"
                                class="col-xs-2 col-sm-2 col-md-2 col-lg-2 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 col-form-label text-right mt-1">{{'pantalla.moduloAdministracion.consultarPais.CodigoTransfer'|
                                translate}}:</label>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input class="form-control removeTextTransform" type="text" id="codigoTransfer" name="codigoTransfer"
                                    formControlName="codigoTransfer" (keypress)="eveValidateNumberLetras($event)"
                                    (ondragenter)="disableEvent($event)" (dragover)="disableEvent($event)"
                                    (ondrop)="disableEvent($event)" (paste)="eventoOnPasteBlock($event)" size="12"
                                    maxlength="12">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group row">
                            <label for="nombre"
                                class="col-xs-2 col-sm-2 col-md-2 col-lg-2 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 col-form-label text-right mt-1">{{'pantalla.moduloAdministracion.consultarPais.nombre'|
                                translate}}:</label>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <input class="form-control removeTextTransform" type="text" name="nombre" id="nombre"
                                    formControlName="nombre" (keypress)="eveValidateNumberLetras($event)"
                                    (ondragenter)="disableEvent($event)" (dragover)="disableEvent($event)"
                                    (ondrop)="disableEvent($event)" (paste)="eventoOnPasteBlock($event)" size="200"
                                    maxlength="200">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mt-2">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
                    <button type="button" class="btn btn-danger" (click)="eventClean()">{{'btn.limpiarPaises' |
                        translate}}</button>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
                    <button type="button" class="btn btn-danger" (click)="eventoConsultar()">{{'btn.consultarPaises' |
                        translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-1">
        <h5 class="card-header justify-content-center">
            {{'pantalla.moduloAdministracion.resultadoBusqueda.title' | translate}}
        </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="table table-striped table-hover" aria-describedby="listaConsultaPais">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">
                                    {{'pantalla.moduloAdministracion.consultarPais.nombre'| translate}}</th>
                                <th class="text-center" scope="col">
                                    {{'pantalla.moduloAdministracion.consultarPais.CodigoTransfer' | translate}}</th>
                                <th class="text-center" scope="col">{{'pantalla.moduloAdministracion.consultarPais.Iso'|
                                    translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="banderaHasRows; then templateFillTable; else templateEmptyTablePais">
                            </ng-container>
                            <ng-template #templateFillTable>
                                <tr *ngFor="let pais of tabla">
                                    <td class="text-center">{{pais.nombre}}</td>
                                    <td class="text-center">{{pais.codigoTransfer === '' ? '--' : pais.codigoTransfer}}
                                    </td>
                                    <td class="text-center">{{pais.codigoISO}}</td>
                                </tr>
                            </ng-template>
                            <ng-template #templateEmptyTablePais>
                                <tr>
                                    <td class="text-center" colspan="12"> {{'noResult' | translate}}</td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-1">
                    <div class="d-flex justify-content-center" *ngIf="banderaHasRows">
                        <pagination [boundaryLinks]="showBoundaryLinksPais" [directionLinks]="showDirectionLinksPais"
                            [totalItems]="totalElements" [itemsPerPage]="rowsPorPagina" [maxSize]="rowsPorPagina"
                            [(ngModel)]="page" previousText="&lsaquo;" nextText="&rsaquo;" firstText="{{'paginador.inicio' | translate}}"
                            lastText="{{'paginador.fin' | translate}}" (pageChanged)="onPageChanged($event)">
                        </pagination>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-10 offset-sm-10 offset-md-10 offset-lg-10">
            <button type="button" class="btn btn-danger" [disabled]="!banderaBtnExportar"
                (click)="openModal()">{{'btn.exportar' | translate}}</button>
        </div>
    </div>
</div>