.unir {
    justify-content: space-evenly;
    display: flex;
}
.esp{
    margin-right: 5%;
}
.tipo{
    display:flex;
}

.cincuenta{
    width: 50%;
}

.riggth{
    display: grid;
    justify-items: end;
}
.rowfilas {
    display: inline-flex;
}
.left{
    display: grid;
    justify-items: start;

}
.cien{
    width: 100%;
    justify-content: center;
}
.mar{
    margin-left: 10%;
}

input[type="checkbox"] {
    appearance: none;
    width: 2em;
    height: 2em;
    vertical-align: top;
    background-color: #E6E4E4;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25em;
    cursor: pointer;
}

input[type="checkbox"]:after {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: FontAwesome,sans-serif;
    font-weight: 600;
    content: "\f00c";
    color: #fff;
    font-size: 15px;
    display: none
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked:hover {
    background-color: #FE2E2E;
}

input[type="checkbox"]:checked::after {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:hover {
    background-color: #ddd;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-button {
    margin: 5px;
    white-space: normal;
}

.example-selected-value {
    margin: 15px 0;
}
