
.input-group-text{
    background-color: transparent !important; 
    border: none !important;
}

.col-xs-2, .col-xs-3{
    display: inline-block !important;
}

.periodo-name{
    margin-top: 8px !important;
}

.labelDate{
    margin: 0 8px;
}

.inputDate{
    width: 45% !important;
    display: inline-block !important;
}

select{
    display: inline-block !important;
    width: 65% !important;
    margin-left: 8px !important;
}


.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5{
    display: inline-flex !important;
    
}

h2{
    font-weight: 600;
}

fieldset{
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.form-check-input{
    margin-left: 1em;
}

.checkBox-control{ 
    width: 2em;
    margin-left: .5em;
    margin-top: .5em;
}

.canvas-size{
    width: 650px;
    height: 300px;
}

.divide2 {
    display: flex
}

.rowTable {
    width: 30%;
    margin: 5px;
}

.row2 {
    width: 70%;
    margin: 5px;
}
