.removeTextTransform{
    text-transform: none !important;
}

.link {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    font-size: 11px;
    /*input has OS specific font-family*/
    color: #FE2E2E;
    text-decoration: underline;
    cursor: pointer;
  }