.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  input[type="text"] {
    text-transform: inherit;
}

.display{
    display: inline-block !important;
}
.removeTextTransform{
    text-transform: none;
}

.x{
    display: flex;
    width: 100%;
}

.spacio{
  margin: 10px;
}