<app-operativa-header tituloPantalla="{{'MO' | translate}}"></app-operativa-header>
<form [formGroup]="datosForm">
    <div class="card">
        <h5 class="card-header justify-content-center">
           {{'MO.DG' | translate}}:
        </h5>
        <div class="inpu">
            <label for="producto4" class="col-form-label col-xs-2 col-sm-2 col-md-1"> {{'MO.P' | translate}}: </label>
            <input type="text" class="form-control" id="producto4" name="producto" formControlName="producto">
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="codigoCliente4" class="col-form-label col-xs-2 col-sm-2 col-md-2"> {{'MO.CC' | translate}}: </label>
                <input type="text" class="form-control" id="codigoCliente4" name="codigoCliente" formControlName="codigoCliente">
            </div>
            <div class="dos">
                <label for="estatus4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.E' | translate}}: </label>
                <input type="text" class="form-control" id="estatus4" name="estatus" formControlName="estatus">
            </div>
        </div>
        <div class="inpu">
            <div class="dos" *ngIf="id === '91'">
                <label for="fechaVencimiento4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.FV' | translate}}: </label>
                <input type="text" class="form-control" id="fechaVencimiento4" name="fechaVencimiento" formControlName="fechaVencimiento" >
            </div>
            <div class="dos" *ngIf="id !== '91'">
                <label for="fechaAplicacion4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.FA' | translate}}: </label>
                <input type="text" class="form-control" id="fechaAplicacion4" name="fechaAplicacion" formControlName="fechaAplicacion">
            </div>
            <div class="dos">
                <label for="fechaPresentacion4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.PR' | translate}}: </label>
                <input type="text" class="form-control" id="fechaPresentacion4" name="fechaPresentacion" formControlName="fechaPresentacion">
            </div>
        </div>
        <div class="inpu"  *ngIf="id === '02' || id === 99 ">
            <label for="horarioProg4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.HP' | translate}}: </label>
            <input type="text" class="form-control" id="horarioProg4" name="horarioProg" formControlName="horarioProg" >
        </div>
        <div class="inpu">
            <label for="nombreArchivo4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.NA' | translate}}: </label>
            <input type="text" class="form-control" id="nombreArchivo4" name="nombreArchivo" formControlName="nombreArchivo" >
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="referencia4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.R' | translate}}: </label>
                <input type="text" class="form-control" id="referencia4" name="referencia" formControlName="referencia" >
            </div>
            <div class="dos" *ngIf="id === '91'">
                <label for="referencia24" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.R2' | translate}}: </label>
                <input type="text" class="form-control" id="referencia24" name="referencia2" formControlName="referencia2">
            </div>
            <div class="dos" *ngIf="id === '01' || id === '02' || id === '38' || id === '97'">
                <label for="numConvenioDetalle4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'consultaDocumentosCFDI.lblClaveRastreo' | translate}}: </label>
                <input type="text" class="form-control" id="numConvenioDetalle4" name="numConvenio" formControlName="numConvenio">
            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header justify-content-center">
           {{'MO.DO' | translate}}:
        </h5>
        <div class="inpu">
            <label for="banco4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.B' | translate}}: </label>
            <input type="text" class="form-control" id="banco4" name="banco" formControlName="banco">
        </div>
        <div class="inpu">
            <label for="nombre4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.N' | translate}}: </label>
            <input type="text" class="form-control" id="nombre4" name="nombre" formControlName="nombre">
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="cuenta4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.C' | translate}}: </label>
                <input type="text" class="form-control" id="cuenta4" name="cuenta" formControlName="cuenta">
            </div>
            <div class="dos">
                <label for="divisaOrd4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.D' | translate}}: </label>
                <input type="text" class="form-control" id="divisaOrd4" name="divisaOrd" formControlName="divisaOrd" >
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="importe4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.I' | translate}}: </label>
                <input type="text" class="form-control" id="importe4" name="importe" formControlName="importe" >
            </div>
            <div class="dos" *ngIf="id !== '91'"></div>
            <div class="dos" *ngIf="id === '91'">
                <label for="iva4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.IVA' | translate}}: </label>
                <input type="text" class="form-control" id="iva4" name="iva" formControlName="iva">
            </div>
        </div>
        <div class="inpu"  *ngIf="id === '32'">
            <label for="claveDes4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.CD' | translate}}: </label>
            <input type="text" class="form-control" id="claveDes4" name="claveDes" formControlName="claveDes">
        </div>
        <div class="inpu"  *ngIf="id === '32'">
            <label for="tipoCambio4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.TC' | translate}}: </label>
            <input type="text" class="form-control" id="tipoCambio4" name="tipoCambio" formControlName="tipoCambio" >
        </div>
    </div>

    <div class="card">
        <h5 class="card-header justify-content-center">
           {{'MO.DR' | translate}}:
        </h5>
        <div class="inpu" *ngIf="id === '38' || id === '39'">
            <label for="bancoIntermediario44" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.BI' | translate}}: </label>
            <input type="text" class="form-control" id="bancoIntermediario44" name="bancoIntermediario" formControlName="bancoIntermediario">
        </div>
        <div class="inpu" *ngIf="id === '38' || id === '39'">
            <label for="bancoPagador4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.BP' | translate}}: </label>
            <input type="text" class="form-control" id="bancoPagador4" name="bancoPagador" formControlName="bancoPagador" >
        </div>
        <div class="inpu" *ngIf="id !== '38' && id !== '39'">
                <label for="bancoReceptor4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.B' | translate}}: </label>
                <input type="text" class="form-control" id="bancoReceptor4" name="bancoReceptor" formControlName="bancoReceptor">
        </div>
        <div class="inpu" *ngIf="id === '38' || id === '39'">
            <label for="vostroCta4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.CVB' | translate}}: </label>
            <input type="text" class="form-control" id="vostroCta4" name="vostroCta" formControlName="vostroCta">
        </div>
        <div class="inpu">
            <label for="nombreBenef4" class="col-form-label col-xs-2 col-sm-2 col-md-1" *ngIf="id === '38' || id === '39'">{{'MO.NBF' | translate}}: </label>
            <label for="nombreBenef4" class="col-form-label col-xs-2 col-sm-2 col-md-1" *ngIf="id !== '38' && id !== '39'">{{'MO.N' | translate}}: </label>
            <input type="text" class="form-control" id="nombreBenef4" name="nombreBenef" formControlName="nombreBenef" >
        </div>
        <div class="inpu" *ngIf="datosForm.value.numeMovil !== null">
            <label for="numeMovil4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.CCH' | translate}}: </label>
            <input type="text" class="form-control" id="numeMovil4" name="numeMovil" formControlName="numeMovil" >
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="ctaAbono4" class="col-form-label col-xs-2 col-sm-2 col-md-2" *ngIf="id === '38' || id === '39'">{{'MO.CBF' | translate}}: </label>
                <label for="ctaAbono4" class="col-form-label col-xs-2 col-sm-2 col-md-2" *ngIf="id !== '38' && id !== '39'">{{'MO.C' | translate}}: </label>
                <input type="text" class="form-control" id="ctaAbono4" name="ctaAbono" formControlName="ctaAbono">
            </div>
            <div class="dos">
                <label for="divisaD4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.D' | translate}}: </label>
                <input type="text" class="form-control" id="divisaD4" name="divisa" formControlName="divisa">
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="importeD4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.I' | translate}}: </label>
                <input type="text" class="form-control" id="importeD4" name="importe" formControlName="importe">
            </div>
            <div class="dos"></div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.CO' | translate}}:
        </h5>
        <div class="inpu">
            <label for="comentarioD4"></label>
            <input type="text" class="form-control" id="comentarioD4" name="comentario" formControlName="comentario">
        </div>
    </div>

    <div class="card" *ngIf="rechazo === true">
        <h5 class="card-header justify-content-center">
            {{'R' | translate}}:
        </h5>
        <div class="inpu">
            <label for="razonRechazo3" class="col-form-label col-xs-4 col-sm-4 col-md-2">{{'R.R' | translate}}: </label>
            <input type="text" class="form-control" id="razonRechazo3" name="razonRechazo" formControlName="razonRechazo" maxlength="200">
        </div>

        <div class="row mt-2">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
                <button type="button" class="btn btn-danger" (click)="procesarD()">{{'btn.aceptar' | translate}}</button>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
                <button type="button" class="btn btn-danger" (click)="cancel()">{{'btn.cancelar' | translate}}</button>
            </div>
            <br><br>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="regresarD()">{{'MO.Regr' | translate}}</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
            <button type="button" class="btn btn-danger" (click)="procesarD()">{{'MO.Proc' | translate}}</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="refrescarD()">{{'MO.Refr' | translate}}</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
            <button type="button" class="btn btn-danger" (click)="rechazarD()">{{'MO.Rech' | translate}}</button>
        </div>
    </div>
</form>