<!-- Inicia Encabezado -->
<app-operativa-header tituloPantalla="{{'pantallas.monitorOperacionesOnline' | translate}}"></app-operativa-header>
<div id="monitorOperaciones" class=" panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <div class="row form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="lblBusquedad"><Strong>{{'pantallas.monitorOperacionesOnline.busquedad' | translate}}</Strong></label>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.codigoCliente' | translate}}:</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtCodigoCliente" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.cuentaAbono' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtCodigoCliente" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.cuentaCargo' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtCodigoCliente" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.producto' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <label for="cmbOrdenar" disabled></label>
                <select class="form-control custom-select" id="cmbOrdenar" name="cmbOrdenar">
                <option></option>
              </select>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.referencia' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtCodigoCliente" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.contrato' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtCodigoCliente" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.divisa' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <select class="form-control custom-select" id="cmbOrdenar" name="cmbOrdenar">
                <option></option>
            </select>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.importe' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtCodigoCliente" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.estatus' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <select class="form-control custom-select" id="cmbOrdenar" name="cmbOrdenar">
                <option></option>
            </select>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.idMovimiento' | translate}}:</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <input type="text" id="txtCodigoCliente" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.fechaInicial' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <form class="form-inline">
                    <input class="form-control col-xs-11 col-sm-11 col-md-11 col-lg-11" [formControl]="formControl2" [class.is-invalid]="formControl2.invalid" placeholder="dd/mm/yyyy" name="d1" ngbDatepicker #d1="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar custom-calendar-onboarding col-xs-1 col-sm-1 col-md-1 col-lg-1" (click)="d1.toggle()" type="button"></button>
                    <div class="invalid-tooltip">{{ formControl2.invalid ? "Fecha Invalida" : undefined }}</div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.fechaFinal' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <form class="form-inline">
                    <input class="form-control col-xs-11 col-sm-11 col-md-11 col-lg-11" [formControl]="formControl" [class.is-invalid]="formControl.invalid" placeholder="dd/mm/yyyy" name="d2" ngbDatepicker #d2="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar custom-calendar-onboarding col-xs-1 col-sm-1 col-md-1 col-lg-1" (click)="d2.toggle()" type="button"></button>
                    <div class="invalid-tooltip">{{ formControl.invalid ? "Fecha Invalida" : undefined }}</div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="padding-0 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row padding-0 padding-top-10 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label class="no-bold" id="lblCodigoCliente" for="txtCodigoCliente">{{'pantallas.monitorOperacionesOnline.ordenarpor' | translate}}</label>
            </div>
            <div class="padding-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <select class="form-control custom-select" id="cmbOrdenar" name="cmbOrdenar">
                <option></option>
            </select>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="row form-group padding-left-30 padding-top-10 col-md-12 col-lg-12 col-xl-12">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"></div>
        <!-- Boton Buscar -->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <button class="btn btn-danger exp-right col-md-12 col-lg-12 col-xl-12">{{'btn.consultar' | translate}}</button>
        </div>
        <!-- Boton Limpiar -->
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <button class="btn btn-danger exp-right col-md-12 col-lg-12 col-xl-12">{{'btn.limpiar' | translate}}</button>
        </div>
    </div>
</div>