.inpu{
    display: flex;
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
}
.dos{
    display: flex;
    width: 100%;
}
.derecha{
    width: 50%;
}
.izquierda{
    width: 50%;
}
.row {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
}
.removeTextTransform{
    text-transform: none;
}

input[type="text"] {
    text-transform: none;
}