<app-operativa-header tituloPantalla="{{'MO' | translate}}"></app-operativa-header>
<form [formGroup]="datosForm">
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.DMP' | translate}}
        </h5>
        <div class="inpu">
            <label for="nombreProveedor4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.NP' | translate}}: </label>
            <input type="text" class="form-control removeTextTransform" id="nombreProveedor4" name="nombreProveedor" formControlName="nombreProveedor">
        </div>
        <div class="inpu">
            <label for="tipoOperacion4" class="col-form-label col-xs-2 col-sm-2 col-md-1">{{'MO.TO' | translate}}: </label>
                <input type="text" class="form-control removeTextTransform" id="tipoOperacion4" name="tipoOperacion" formControlName="tipoOperacion">
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="cveProveedor4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.CP' | translate}}: </label>
                <input type="text" class="form-control removeTextTransform" id="cveProveedor4" name="cveProveedor" formControlName="cveProveedor">
            </div>
            <div class="dos">
                <label for="tipoPerJuridica4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.TPJ' | translate}}: </label>
                <input type="text" class="form-control removeTextTransform" id="tipoPerJuridica4" name="tipoPerJuridica" formControlName="tipoPerJuridica">
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="fechaAplic4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.FA' | translate}}: </label>
                <input type="text" class="form-control removeTextTransform" id="fechaAplic4" name="fechaAplic" formControlName="fechaAplic">
            </div>
            <div class="dos">
                <label for="numFolio4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.NF' | translate}}:</label>
                <input type="text" class="form-control removeTextTransform" id="numFolio4" name="numFolio" formControlName="numFolio">
            </div>
        </div>
        <div class="inpu">
            <div class="dos">
                <label for="estatus4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.E' | translate}}: </label>
                <input type="text" class="form-control removeTextTransform" id="estatus4" name="estatus" formControlName="estatus">
            </div>
            <div class="dos">
                <label for="codRegistro4" class="col-form-label col-xs-2 col-sm-2 col-md-2">{{'MO.CR' | translate}}:</label>
                <input type="text" class="form-control removeTextTransform" id="codRegistro4" name="codRegistro" formControlName="codRegistro" >
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header justify-content-center">
            {{'MO.CO' | translate}}
        </h5>
        <div class="inpu">
            <label for="comentario14"></label>
            <input type="text" class="form-control removeTextTransform" id="comentario14" name="comentario" formControlName="comentario" >
        </div>
    </div>
    <div class="card" *ngIf="rechazo === true">
        <h5 class="card-header justify-content-center">
            {{'R' | translate}}:
        </h5>
        <div class="inpu">
            <label for="razonRechazo14" class="col-form-label col-xs-4 col-sm-4 col-md-2">{{'R.R' | translate}}: </label>
            <input type="text" class="form-control" id="razonRechazo14" name="razonRechazo" formControlName="razonRechazo" maxlength="200">
        </div>

        <div class="row mt-2">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
                <button type="button" class="btn btn-danger" (click)="procesar1()">{{'btn.aceptar' | translate}}</button>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
                <button type="button" class="btn btn-danger" (click)="cancel2()">{{'btn.cancelar' | translate}}</button>
            </div>
            <br><br>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="regresar1()">{{'MO.Regr' | translate}}</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
            <button type="button" class="btn btn-danger" (click)="procesar1()">{{'MO.Proc' | translate}}</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
            <button type="button" class="btn btn-danger" (click)="refrescar1()">{{'MO.Refr' | translate}}</button>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
            <button type="button" class="btn btn-danger" (click)="rechazar1()">{{'MO.Rech' | translate}}</button>
        </div>
    </div>
</form>