<app-operativa-header tituloPantalla="{{'pantalla.controlVolumenOperativo.titulo' | translate}}"></app-operativa-header>

<div id="graficaTotalOperacionesCliente" class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br />
    <div class="card" *ngIf="tabla.length <= 0">
        <h5 class="card-header justify-content-center">
            {{ 'pantallas.monitorOperacionesOnline.busquedad' | translate }}
        </h5>

        <div class="card-body">
            <div [formGroup]="form">
                <div class="d-flex justify-content-center">
                    <label for="codigoCliente" class="col-md-1 col-form-label">
                        {{'pantalla.controlVolumenOperativo.graficaArchivoCliente.topDiez' | translate}}
                    </label>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="ml-5" id="operations" value="operations"
                            formControlName="radiobutton" [checked]="form.get('radiobutton')?.value==='operations'" />
                        <label class="form-check-label pl-1" for="operations">
                            {{'menu.controlVolumenOperativo.graficaCliente.opcion' | translate}}
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="ml-5" id="amount" value="amount" formControlName="radiobutton"
                            [checked]="form.get('radiobutton')?.value==='amount'" />
                        <label class="form-check-label pl-1" for="amount">
                             {{'pantalla.controlVolumenOperativo.graficaArchivoCliente.monto' | translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
                    <button type="button" class="btn btn-danger" (click)="limpiarFormulario()">
                        {{ 'btn.limpiar' | translate }}
                    </button>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
                    <button type="button" class="btn btn-danger" (click)="buscarOperaciones()">
                        {{ 'btn.buscar' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3" [hidden]="tabla.length <= 0">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <table class="table table-striped table-hover">
                        <caption></caption>
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">
                                    {{ 'operativo.nombreCliente' | translate }}
                                </th>
                                <th scope="col" class="text-center"
                                    *ngIf="this.form.get('radiobutton')?.value === 'operations'; else monto">
                                    {{ 'pantalla.controlVolumenOperativo.graficaArchivoCliente.operaciones' | translate
                                    }}
                                </th>
                                <ng-template #monto>
                                    <th scope="col" class="text-center">
                                        {{ 'pantalla.controlVolumenOperativo.graficaArchivoCliente.monto' | translate }}
                                    </th>
                                </ng-template>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of tabla">
                                <td class="text-center">{{ cliente.nombreCliente }}</td>
                                <td class="text-center">{{ this.form.get('radiobutton')?.value === 'operations' ?
                                    cliente.numOpr : cliente.numMont }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <canvas class="canvas-size" id="chartTotalOperacionesCliente"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
                    <button type="button" class="btn btn-danger" (click)="limpiarFormulario()">
                        {{ 'btn.regresar' | translate }}
                    </button>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-8 offset-sm-8 offset-md-8 offset-lg-8">
                    <button type="button" class="btn btn-danger" (click)="exportarExcel()">
                        {{ 'btn.exportar' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>